body{
    background-image: linear-gradient(#FC5E55, #FA4083);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

h1{
font-size: 3.25rem;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}

.card1{
  background-image: url(Images/image-background-card1.jpg);
 
}

.card2{
  background-image: url(Images/image-background-card2.jpg);
}

.card3{
 background-image: url(Images/image-background-card3.jpg);

}

.card1, .card2, .card3{
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.528);
}

.herobox1{
    flex: 2;
    padding-right: 100px;
}

.herobox2{
    flex: 1;
}

.btn{
    background-color:#fff;
    font-family: 'Playfair Display', serif;
    color: #FA4083;
    display: block;
    padding: 9px 16px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.228);
}

.herobox1 p{
    width: 70%;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.75rem;
}

.herobox1 h1{
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

 nav ul li {
    display: inline;
    border: 1px solid white;
    margin: 8px;
    padding: 9px 16px;
} 

  nav ul li a{
    text-decoration: none;
    font-size: 1.125rem;
    padding: 4px;
    color: white;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 20px;
}

.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px;
}

.cards img{
    width: 100px;
    font-size: 1.125rem;
}

.testimonials{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 100px;
}

.tbox{
    width: 47%;
    border: 1px solid white;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.528);
}
