body{
    background-color: #FC5E55;
}

h1{
font-size: 36px;
margin-bottom: 24px;
}

.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    background-color: rgb(97, 209, 97);
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}

.card1{
    background-color: rgb(212, 88, 109);
    min-height: 250px;
    width: 30%;
}

.card2{
    background-color: rgb(212, 88, 109);
    min-height: 250px;
    width: 30%;
}

.card3{
    background-color: rgb(212, 88, 109);
    min-height: 250px;
    width: 30%;
}

.herobox1{
    flex: 2;
    padding-left: 10%;
}

.herobox2{
    flex: 1;
}

.btn{
    background-color:#fff;
    color: #FA4083;
    display: block;
    padding: 3px 10px;
    border: 1px solid white;
    border-radius: 3px;
}

.herobox1 p{
   display: inline-block;
    width: 70%;
    margin-bottom: 10px;
    font-size: 14px;
}

.img-container{
    flex: 1;
}

.nav-container{
    flex: 1;
    text-align: right;
}

.nav-container nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 4px;
}

.nav-container nav ul li {
    display: inline;
    border: 1px solid white;
    margin: 8px;
    padding: 4px 12px;
}